<nav class="navbar navbar-expand-lg  ">
    <a class="navbar-brand" href=""><span class="text-color me-5 pe-5"><span class="my">my</span>portfo<span class="my">l</span>io</span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav  ">
        <li class="nav-item"> <a class="nav-link" href="#footer"><span class="text-color navItemspace">Home</span></a></li>
        <li class="nav-item"> <a class="nav-link" href="#pricing"><span class="text-color navItemspace">About</span></a></li>
        <li class="nav-item"> <a class="nav-link" href="#cta"><span class="text-color navItemspace">Resume</span></a></li>
        <li class="nav-item"> <a class="nav-link" href="#cta"><span class="text-color navItemspace">Services</span></a></li>
        <li class="nav-item"> <a class="nav-link" href="#cta"><span class="text-color navItemspace">Skills</span></a></li>
        <li class="nav-item"> <a class="nav-link" href="#cta"><span class="text-color navItemspace">Project</span></a></li>
        <li class="nav-item"> <a class="nav-link" href="#cta"><span class="text-color navItemspace">Contact</span></a></li>

        <button class="btn  btn-primary rounded-pill ms-5 rounded-btn px-4">Let's Talk</button>

      </ul>
    </div>
  </nav>