
<div id="title">
  <div class="container-fluid ">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg  ">
      <a class="navbar-brand" href=""><span class="text-color me-5 pe-5"><span class="my">my</span>portfo<span class="my">l</span>io</span></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav  ">
          <li class="nav-item"> <a class="nav-link" href="#footer"><span class="text-color navItemspace">Home</span></a></li>
          <li class="nav-item"> <a class="nav-link" href="#pricing"><span class="text-color navItemspace">About</span></a></li>
          <li class="nav-item"> <a class="nav-link" href="#cta"><span class="text-color navItemspace">Resume</span></a></li>
          <li class="nav-item"> <a class="nav-link" href="#cta"><span class="text-color navItemspace">Services</span></a></li>
          <li class="nav-item"> <a class="nav-link" href="#cta"><span class="text-color navItemspace">Skills</span></a></li>
          <li class="nav-item"> <a class="nav-link" href="#cta"><span class="text-color navItemspace">Project</span></a></li>
          <li class="nav-item"> <a class="nav-link" href="#cta"><span class="text-color navItemspace">Contact</span></a></li>

          <button class="btn  btn-primary rounded-pill ms-5 rounded-btn px-4">Let's Talk</button>

        </ul>
      </div>
    </nav>

    <!-- first part -->


    <div class="row firstpart ">
      <div class="col-lg-5 mx-4 my-5 pt-5 pb-4">
        <p class="hello fs-3">Hello!</p>
        <p class="text-color fs-2"><span class='fw500'>I'm</span> Web Designer</p>
        <p class="fs-3 fw500">A freelance UI & UX Designer</p>

        <button class="btn btn-primary rounded-pill px-5">Hire me</button>
        <button class="btn border-dark rounded-pill px-5">My work</button>
      </div>


      <div class="col-sm-5 p-4 pe-auto">
        <img src="../assets/Images/webdesigner.avif" alt="pic" class="dpic rounded-2">
      </div>
    </div>

  </div>

<!-- section 2 -->
<section class="pt-5 mt-4">


  <div class="row ">
    <div class="col-lg-5 ">
      <img src="../assets/Images/idris.png" class="rounded-4 w-100" alt="">
    </div>

    <div class="col-lg-7 fs-5 bigtext">
      <h4 class="hello">About me</h4>
      <table>
        <tr>
          <td class="text-color">Name:</td>
          <td>Abdullateef Idris</td>
        </tr>

        <tr>
          <td class="text-color">Date of Birth:</td>
          <td> 4<sup>th</sup> Febuary 2001</td>
        </tr>

        <tr>
          <td class="text-color">Address:</td>
          <td>No 17 Queen Amina Kagoro Close Kaduna, Kaduna State.</td>
        </tr>

        <tr>
          <td class="text-color">Email:</td>
          <td>abdullateefidris99@gmail.com</td>
        </tr>

        <tr>
          <td class="text-color">Phone:</td>
          <td>+2348103875572</td>
        </tr>

      </table>

      <button class="my-4 px-4 py-2 btn btn-primary btn-sm rounded-pill">Download CV</button>

    </div>

  </div>
</section>

<section class="mt5">
  <div class="mt-5">
    <h1 class="text-center mb-5">My Portfolio</h1>

    <div class="row">
      <div class="col-lg-6 col-md-5  ">

        <div class="leftPortfolio  px-5 pt-4">
          <h2 class="text-center portfolio-heading mb-2">Crafting Digital Solutions</h2>
          <p>Embark on a captivating journey through my portfolio, where the artistry of coding meets the precision of software engineering. Each project is a testament to my commitment to excellence, showcasing innovative solutions, clean code practices, and a relentless passion for turning ideas into reality.</p>

          <img src="../assets/Images/portfolio2.jpg" class="portfoliopic">


        </div>

      </div>

      <div class="col-lg-6 col-md-5 ">

        <div class="rightPortfolio  px-5 pt-4">
          <h3 class="text-center portfolio-heading mb-2">The Code Artistry</h3>
          <p>Welcome to my digital canvas, where the strokes of creativity are lines of code, and the palette consists of algorithms and logic.In this portfolio, witness the fusion of passion and precision as I transform concepts into functional and elegant software Solving problems.</p>

          <img src="../assets/Images/portfolio3.jpg" class="portfoliopic"> 
        </div>

      </div>
    </div>


  </div>
</section>

<!-- MY SERVICES -->
<div>
  <h1 class="text-center myservice">My services</h1>

  <div class="row">

    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card mb-4 shadow2">

        <div class="card-header">
          <h4 class="text-center"> Software Development</h4>
        </div>
        <div class="card-body card-height">
          <p>Crafting tailored software solutions to meet your unique business needs. From concept to deployment, I deliver scalable and efficient applications that streamline processes and enhance productivity.</p>
        </div>

      </div>
    </div>


    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card shadow2">
        <div class="card-header">
          <h4 class="text-center">Web App Development</h4>
        </div>
        <div class="card-body card-height">
          <p>Building responsive and user-friendly web applications with modern technologies. Whether it's a dynamic business site or a robust e-commerce platform, I ensure a seamless and engaging online experience.</p>
        </div>

      </div>
    </div>


    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card shadow2">
        <div class="card-header">
          <h4 class="text-center">Mobile App Development</h4>
        </div>
        <div class="card-body card-height">
          <p>Creating cross-platform mobile applications for iOS and Android. I leverage the latest frameworks to deliver high-performance apps that resonate with your target audience.</p>

        </div>
      </div>
    </div>


    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card shadow2">

        <div class="card-header">
          <h4 class="text-center">API Integration and Development</h4>
        </div>
        <div class="card-body card-height">
          <p>Integrating third-party APIs or developing custom APIs to enhance functionality and connectivity. I ensure smooth data exchange between applications, fostering interoperability and efficiency.</p>
        </div>

      </div>
    </div>


    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card shadow2">
        <div class="card-header">
          <h4 class="text-center">Consultation and Technical Guidance</h4>
        </div>
        <div class="card-body card-height">
          <p>Providing expert advice and technical guidance on software architecture, technology stack selection, and development best practices. Empowering teams to make informed decisions.
          </p>
        </div>

      </div>
    </div>


    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card shadow2">
        <div class="card-header">
          <h4 class="text-center">Technical Training and Mentoring</h4>
        </div>
        <div class="card-body card-height">
          <p>Offering technical training sessions and mentorship programs for development teams. I share knowledge on the latest technologies, coding standards, and industry best practices.</p>
        </div>
      </div>
    </div>



  </div>

</div>

<!-- MY WORKING EXPRENCIES -->

<div class="working">

  <h1 class="text-center working">Working Experience</h1>

  <div class="d-flex">
    <div class=""><i class="rounded-circle bluecolor padding-icon fa-solid fa-briefcase fa-2xl"></i></div>
    <div class="float-div">
      <h2>XYX Tech Solution</h2>
      <p>January 2020 - Febuary 2021</p>

      <p> Collaborated with cross-functional teams to design, develop, and implement robust and scalable software solutions, meeting client requirements and project deadlines.</p>
      <p> Worked closely with hardware engineers to integrate software solutions with IoT devices, ensuring compatibility and optimal performance.</p>
    </div>


  </div>


  <div class="d-flex">
    <div class=""><i class="rounded-circle bluecolor padding-icon fa-solid fa-briefcase fa-2xl"></i></div>
    <div class="float-div">
      <h2>Silver systems Limited</h2>
      <p>April 2021 - November 2022</p>

      <p>Led the development of a customer relationship management (CRM) system.</p>
      <p>Streamlining client communication and improving data accessibility, resulting in a 20% increase in client satisfaction.</p>
    </div>

  </div>


  <div class="d-flex">
    <div class=""><i class="rounded-circle bluecolor padding-icon fa-solid fa-briefcase fa-2xl"></i></div>
    <div class="float-div">
      <h2>Hutsoft Technologies</h2>
      <p>January 2023 - Present</p>

      <p> Collaborated with cross-functional teams to design, develop, and implement robust and scalable software solutions.</p>
      <p> Worked closely with product managers and UX/UI designers to translate requirements into technical specifications and user-friendly interfaces.</p>
    </div>

  </div>

</div>


<!-- GET IN TOUCH -->

<div>
  <h1 class="text-center">Get in touch</h1>

  <div class="getInTouch">
    <div class="row">

      <div class="col-lg-6 col-md-6">
        <img src="../assets/Images/Animated-man.png"  class="w-50 d-block mx-auto mt-5 rounded-circle" alt="">
      </div>


      <div class="col-lg-6 col-md-6">
        <div class="contactus">
          <h2>CONTACT US</h2>

          <input type="Name" class="form-control" id="Name" placeholder="Name" name="Name">


          <input type="email" class="form-control my-2" id="email" placeholder="Email" name="email">

          <textarea class="form-control my-2" rows="5" id="comment" placeholder="Message" name="text"></textarea>

          <div class="d-grid gap-2">
            <button class="btn text-center btn-primary btn-color rounded-pill py-1 px-5">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
